flet
langchain
langchain-openai
langchain-community
langgraph
pypdf
faiss-cpu
openai
tiktoken
python-dotenv
docx2txt
pyinstaller
plotly
kaleido
matplotlib
llama-parse
unstructured
python-docx
openpyxl
pandas
